html,
body {
    width: 100%;
    height: 912px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    background: #305162;
    font-family: 'Roboto', sans-serif;
    /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased
}

h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700
}

h1 span {
    display: block;
    color: #555;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px
}

h2 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #FFF;
    margin-bottom: 16px;
    margin-top: 8px
}

h2 span {
    color: #FFF;
    letter-spacing: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 38px
}

h3 {
    margin: 30px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px dotted rgba(70, 70, 70, .5);
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px
}

h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    letter-spacing: 0;
    line-height: 26px
}

hr {
    margin-bottom: 0
}

.section__line {
    float: left;
    width: 90px;
    border-top: 3px solid #ED5A64;
}

A {
    color: #FFF
}

.intro-text {
    font-weight: 600;
    margin: 30px auto;
    font-size: 25px
}

.navbar-collapse a {
    font-size: 18px
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.nav li.current a,
.nav li.current a:hover,
.nav li a:hover,
.nav li a:focus {
    background: transparent;
    color: #1abc9c
}

.navbar-toggle {
    border: 1px solid #009688;
    background: #009688
}

.icon-bar {
    border: 1px solid #FFF
}

.nav__current {
    color: #1abc9c;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #ED5A64;
}

#section-home {
    color: #FFF;
    text-align: center;
    width: 100%
}

#section-home .overlay {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: -20
}

#section-home .background {
    width: 100%;
    height: 610px;
    margin-top: -80px
}

#section-home .home-wrap {
    padding: 220px 0 200px;
    color: #FFF;
}

#section-home p {
    margin-bottom: 20px;
    color: #1abc9c;
    font-style: italic;
    font-size: 17px;
}

#section-home a {
    padding: 10px;
    width: 180px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
}

#section-home a:hover {
    border: 1px solid #1abc9c;
    color: #1abc9c;
}

#about-me {
    background: #FFF;
    width: 100%;
    padding: 10px 0
}

#about-me h2 {
    margin: 16px 0 0;
    font-size: 22px;
    color: #555
}

#about-me h4 {
    font-size: 15px
}

#about-me .about .img-about {
    border: 5px solid #FFF;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#about-me .about .img-desc-about {
    position: relative;
    margin-top: -97px
}

#about-me .about .img-desc-about .name {
    font-size: 30px;
    font-weight: 700
}

#about-me .about .img-desc-about .name span {
    display: block;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400
}

#about-me .about .img-desc-about .btn-clear {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition: .8s;
    transition: .8s
}

#about-me .about .img-desc-about .btn-clear:hover {
    background: #FFF;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

#about-me .about .img-desc-about .btn-round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #1abc9c;
    background: #333f47;
    padding: 10px
}

#about-me .about .img-desc-about .btn-github:hover {
    color: #4183c4
}

#about-me .about .img-desc-about .btn-twitter:hover {
    color: #2ba9e0
}

#about-me .about .img-desc-about .btn-linkedin:hover {
    color: #015786
}

#about-me .about .img-desc-about .btn-google:hover {
    color: #d3492c
}

#about-me .about p {
    font-style: italic;
    font-size: 17px;
    padding-top: 22px
}

#about-me .skill__title {
    display: block;
    margin: 35px 0 0;
}

.skill__title h1 {
    font-size: 25px;
    line-height: 0;
}

.skill__icon {
    display: table-cell;
    vertical-align: top;
}

.skill__icon i {
    margin-top: 20px;
    margin-right: 32px;
}

.skill__detail {
    display: table-cell;
    width: 100%;
    padding: 0 0 39px;
}

.skill__detail h1 {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33333;
}

.skill__detail p {
    margin: 9px 0 0;
    padding-right: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
}


/* 
* PORTFOLIO *
*/

.Portfolio {
    padding: 70px 0;
    background: #305162;
}

.Portfolio h2 span {
    color: #1ABC9C;
}

.Portfolio #portfolio-items {
    display: table
}

.Portfolio #portfolio-items ul {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px
}

.Portfolio #portfolio-items ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 11px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.Portfolio #portfolio-items ul .current-filter {
    color: #FFF!important;
    border-bottom: 1px solid #1abc9c
}

.Portfolio .worksItem {
    display: none;
    padding: 0;
    overflow: hidden;
    height: auto;
    text-align: center;
    background: #FFF;
}

.Portfolio .worksItem img {
    width: 100%;
    height: auto
}

.Portfolio .worksItem a {
    color: #1abc9c
}

.worksItem .portfolio-hover-content {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden
}


/*
* CV *
*/

#Resume {
    background-color: #1ABC9C;
    padding: 50px 0;
    position: relative
}

#Resume h2 span {
    color: #305162;
}

.myresumeblock p {
    color: #FFF;
}

#Resume .myresumeL {
    text-align: right;
    border-right: 1px solid #FFF;
}

#Resume .myresumeR {
    text-align: left
}

#Resume .myresumeR h3,
#Resume .myresumeL h3 {
    color: #305162;
}

#Resume .myresumeR ul,
#Resume .myresumeL ul {
    padding: 0 10px
}

#Resume .myresumeR ul li,
#Resume .myresumeL ul li {
    list-style: none;
    margin: 45px 0 65px
}

#Resume .myresumeR ul li span,
#Resume .myresumeL ul li span {
    background: transparent;
    border-radius: 0;
    color: #555;
    float: left;
    font-size: 30px;
    margin: 2px 16px 0 0;
    padding: 7px
}

#Resume .myresumeR ul li h5,
#Resume .myresumeL ul li h5 {
    color: #FFF;
    font-size: 12px;
    font-style: italic;
    font-weight: 800
}

#Resume .myresumeR ul li h4,
#Resume .myresumeL ul li h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2px;
    margin-bottom: 16px
}

#Resume .myresumeR ul li h4 i,
#Resume .myresumeL ul li h4 i {
    color: #777;
    font-size: 12px;
    text-transform: lowercase
}

@media only screen and (max-width:970px) {
    .nav li.current a:hover,
    .nav li a:focus,
    .nav li a:hover {
        color: #FFF;
        background: #1abc9c
    }
}

.footer {
    line-height: 20px;
    padding-top: 34px;
    background-color: #305162;
    margin: 0
}

.footer .footerLeft {
    font-size: 13px;
    font-weight: 400;
    color: #FFF;
    padding-top: 5px
}

.footer .footerRight {
    text-align: right;
    font-size: 20px
}

.worksItem:hover .portfolio-hover-content {
    color: #fff;
    font-size: 14px;
    opacity: .9;
    filter: alpha(opacity=90);
    visibility: visible;
    background: #414042;
    padding: 64px 24px;
    width: 100%;
    cursor: pointer;
    height: 100%
}

@media only screen and (max-width:970px) {
    h1 {
        font-size: 45px;
        line-height: 35px
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 35px;
        line-height: 35px
    }
}

@media screen and (max-width:768px) {
    body>div>div>div.navbar-collapse.collapse.in {
        background-color: rgba(33, 33, 33, .9)
    }
    .navbar .navbar-nav {
        color: #FFF
    }
}

.col-xs-12 .skill__icon,
.col-xs-12 .skill__detail {
    display: block;
    text-align: center;
}

.col-xs-12 .skill__icon {
    margin-left: 35px;
}
.col-xs-12.worksItem{
    margin-top: 35px;
}
.row{
    margin: 0;
}