
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body{
	background: #a7a8aa;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #FFF;
	text-align: center;
	font-size: 35px;
}
h1 strong {
	color: #0069a6;
	text-shadow: 0px 0px 9px #FFF;
	font-size: 51px;
margin-left: 9%;
}
.block {
	background: #FFF;
	height: 80px;
	width: 600px;
	margin: 0 auto;
	border-radius: 13px;
	border: 1px solid #FFF;
	border-left-width: 20px;
	margin-bottom: 40px;
}
#epsi {
	border-left-color: #b83288;
}
#idrac {
	border-left-color: #707173;
}
#ifag {
	border-left-color: #cc071e;
	height: 87px;
}
#supcom {
	border-left-color: #005aa1;
}
#wis {
	border-left-color: #ffec00;
}
p{
	white-space: pre-line;
	float: left;
	font-weight: bolder;
	text-align: right;
}
#epsi p {
	padding-left: 7%;
	padding-top: 7px;
}
#idrac p {
	padding-left: 15%;
	padding-top: 6px;
}
#supcom p{
	padding-left: 3%;
	padding-top: 7px;
}
#wis  p{
	padding-left: 17%;
	padding-top: 7px;
}
#epsi p span{
	color: #b83288;
	font-weight: bolder;
}
.barre {
	border-left: 2px solid grey;
	height: 79px;
	margin-left: 40%;
}
img {
	vertical-align: middle;
	padding: 5px 17px;
}
a {
text-decoration: none;
color: #3e8dbb;
font-weight: bolder;
}
#epsi a{
padding: 20px;
}
#idrac a {
padding-left: 21px;
}
#supcom a {
font-size: 14px;
}
#ifag a {
	padding-left: 0px;
}
#wis a {
	padding-left: 48px;
}

#idrac p span {
	color: #707173;
	font-weight: bolder;
}
#ifag p span {
	color: #cc071e;
	font-weight: bolder;
}
#supcom p span {
	color: #005aa1;
	font-weight: bolder;
}
#wis p span {
	color: #ffec00;
	font-weight: bolder;
}


.sentence {
	margin-left: 18%;
}
.sentence1 {
	margin-left: 20%;
}
footer {
background: #0069a6;
height: 45px;
color: #FFF;
text-align: center;
width: 600px;
margin: 0 auto;
}

.ifag_p {
	white-space: pre-line;
	float: left;
	font-weight: bolder;
	text-align: right;
	font-size: 14px;
}