body, html {
	margin: 0;
	padding: 0;
}
header.header {
	background-color:#323232;
	border-bottom: 3px solid #2FAFCB;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
	border-left: 1px solid rgba(0,0,0,0.9);
}
a:link, a:visited {
	display: block;
	width: 120px;
	height: 37px;
	font-weight: bold;
	color: #FFF;
	background-color: #323232;
	text-align: center;
	padding-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover, a:active
{
	background-color: #3e3e3e;
}

/*FOOTER */

#footer{
	min-height: 100px;
	height: auto;
}
footer.footer{
	background: #303030;
	color: #2FAFCB;
	margin-top: 431px;
}

/*TITRE */

h1 {
	font-family: 'Pacifico', cursive;
	color: #2FAFCB;
}